export("betaconv.nls", "betaconv.ols", "betaconv.speed", "converse", "cv", "dist.buf", "dist.calc", "dist.mat", "gini", "gini.conc", "gini.spec", "growth", "hansen", "herf", "hoover", "huff", "krugman.conc", "krugman.conc2", "krugman.spec", "krugman.spec2", "lm.beta", "locq", "lorenz", "mean2", "portfolio", "rca", "reilly", "sd2", "shift", "shift.growth", "shiftd", "shifti", "sigmaconv", "sigmaconv.t", "theil", "to.dummy", "var2")
importFrom("grDevices", "colours", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "plot", "text", "grid", "par", "rect", "barplot", "points")
importFrom("stats", "lm", "aggregate", "as.formula", "coef", "nls", "pf", "sd", "var.test")