export("converse", "cv", "data.dummy", "data.index", "disp", "dist.calc", "dist.buf", "dist.mat", "gini", "gini.conc", "gini.spec", "hansen", "herf", "hoover", "huff", "lorenz", "krugman.conc", "krugman.conc2", "krugman.spec", "krugman.spec2", "lm.beta", "locq", "mean2", "portfolio", "rca", "reilly", "sd2", "shift", "theil")
importFrom("grDevices", "colours")
importFrom("graphics", "abline", "legend", "lines", "plot", "text", "grid", "par", "rect")
importFrom("stats", "sd", "lm", "aggregate")