export("atkinson", "coulter", "dalton", "disp", "betaconv.nls", "betaconv.ols", "betaconv.speed", "converse", "conc", "curvefit", "cv", "dist.buf", "dist.calc", "dist.mat", "durpug", "ellison.a", "ellison.a2", "ellison.c", "ellison.c2", "gifpro", "gifpro.tbs", "gini", "gini2", "gini.conc", "gini.spec", "growth", "hansen", "herf", "hoover", "howard.cl", "howard.xcl", "howard.xcl2", "huff", "krugman.conc", "krugman.conc2", "krugman.spec", "krugman.spec2", "litzenberger", "litzenberger2", "lm.beta", "locq", "locq2", "locq.growth", "lorenz", "mean2", "mssd", "portfolio", "rca", "reilly", "ripley", "sd2", "shift", "shift.growth", "shiftd", "shifti", "shiftid", "shiftp", "sigmaconv", "sigmaconv.t", "spec", "theil", "to.dummy", "var2", "williamson")
importFrom("grDevices", "colours", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "plot", "text", "grid", "par", "rect", "barplot", "points", "axis", "plot.new", "title")
importFrom("stats", "lm", "aggregate", "as.formula", "coef", "nls", "pf", "sd", "var.test", "complete.cases", "runif", "quantile")